<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="stylesheets/estiloBusquedaHotel.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" ></script>
    <script language="javascript">

    Function Actividades(){
        windows.location= "/act";
    }
    </script>
  </head>

  <body>
		<div id="home" data-role="page" style="background:url(http://farm4.staticflickr.com/3507/4048953912_94357d14ca_o.jpg) -20px 0 fixed; background-size:125%">
			<div data-role="header" data-position="fixed" data-theme="a" style="background:#246; color:#fff">
				<h1>Amapala</h1>
			</div>
			<div role="main" class="ui-content">
				<ul data-role="listview" id="ActList" data-inset="true" data-filter="true" data-count-theme="b" data-filter-placeholder="Buscar">
					<li data-role="list-divider" style="background:#246; color:#fff">Actividades</li>
					<li data-icon="star">
						<a href="/Ama">
							<img src="http://www.hondurastips.hn/wp-content/uploads/2013/04/Playa-Negra-LOGO.jpg">Playa Negra </a>
					</li>
					<li data-icon="star">
						<a href="/Ama">
							<img src="http://www.hondurastips.hn/wp-content/uploads/2012/03/Playa-Grande-web-2.jpg" class>Atardecer en Playa Negra</a>
					</li>
					<li data-icon="star">
						<a href="/Ama">
							<img src="http://eva.hn/wp-content/uploads/2013/08/ama2.jpg" class>Cerro El Tigre, Amapala</a>
					</li>
				</ul>
			</div>
		</div>
      <script src="javascript/Hoteles.js"></script>
  </body>
</html>
