<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/estiloBusquedaHotel.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
    <div id="home" data-role="page" style="background-image: url(http://jqmdesigner.appspot.com/design-panel.html); background-size: 100% 80%; background-position: 10% 20%; background-repeat: no-repeat;">
    <div data-role="header" data-position="fixed" style="background:#246; color:#fff ">
      <h3>Atardecer en Playa Negra</h3>
    </div>
    <div role="main" class="ui-content">
      <div class="ui-grid-solo" style="height:150px; width:320px; margin:-10px">
        <div class="ui-block-a" style="height:100%">
          <img src="http://www.fotosdemitierra.com/fotos/IMG_8097.jpg" style="margin-top:-20px; margin-left:1px; width:105%; height:180px;">
        </div>
      </div>
      <h3>Reseña</h3>
      <h5>Esta se ubica frente al Golfo de Fonseca y gracias a esto, usted podrá observar el volcán Cosigüina.Playa Negra es muy popular debido al suave remanso de sus aguas y su fácil acceso – en pick up, mototaxi o en ferry, usted solamente tiene que escoger el medio.En Playa Negra usted también tendrá la vista del territorio salvadoreño. Los atardeceres en este lugar, son unos de los más románticos para fotografías. La vista de las estrellas en la noche es impresionante.</h5>
      <h4>Ubicacion<h4>
      <h5>Isla del Tigre, de Coyolito se debe tomar una lancha hacia el Puerto de Amapala. En el puerto, tomar un taxi o pick up para trasladarse a Playa Grande. Recorrido: 15 minutos desde Coyolito. </h5>
      <h5>Entre las actividades que puede realizar esta nadar en el mar, llevar su moto acuática o cuatrimoto, tomar un poco de sol para broncearse, hacer un tour de montaña y tour de panga (bote).</h5>
      <h5><div is="raty" score="3" id="raty" class="raty"></div><div class="ui-field-contain"><label for="gk-728xELL">Comentarios</label><textarea id="gk-728xELL" name></textarea></div><a class="ui-btn">Enviar</a></h5>
      <div is="icon" style="width:60px; height:80px; position:relative">
        <span class="ui-li-count" style="position:absolute; display:none; z-index:1; right:0; top:6px;"></span>
        <a href="#" class="ui-btn ui-mini ui-corner-all ui-shadow" style="display:block;margin:5px;height:50%;background-image: url(http://cdn.freebiepsd.com/graphics/4/s/star-icon-icons/thumbnail.jpg); background-size: 60% 80%; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"></a>
        <div style="text-align:center;">agregar Favoritos</div>
      </div>
    </div>
    <div role="main" class="ui-content"></div>
 <div data-position="fixed" data-role="footer">
   <div data-role="navbar" style="margin:0 0 -5px;">
     <ul>
       <li>
         <a href="/Prin"data-icon="home" data-theme="b" class="ui-btn-active ui-state-persist">Inicio</a>
       </li>
       <li>
         <a href="/Home"data-icon="star" data-theme="b" href="#p2" data-transition="none">cerrar Sesión</a>
       </li>
     </ul>
   </div>
 </div>
</div>
    </div>
      <script src="javascript/actividades.js"></script>
  </body>
</html>
