<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/estiloBusquedaHotel.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
		<div id="home" data-role="page" style="background:url(http://farm4.staticflickr.com/3507/4048953912_94357d14ca_o.jpg) -20px 0 fixed; background-size:125%">
			<div data-role="header" data-position="fixed" data-theme="a" style="background:#246; color:#fff">
				<h1>Amapala</h1>
			</div>
			<div role="main" class="ui-content">
				<ul data-role="listview" data-inset="true" data-filter="true" data-count-theme="b" data-filter-placeholder="Buscar">
					<li data-role="list-divider" style="background:#246; color:#fff">Hoteles</li>
					<li data-icon="carat-r">
						<a href="/Ho">
							<img src="http://www.hondurastips.hn/wp-content/uploads/2013/10/Un-entorno-de-naturaleza-y-relax-podr%C3%A1-disfrutar-durante-su-estad%C3%ADa-en-Hotel-Brisas-del-Sur-en-Amapala-Honduras.jpg" class style="width:100px; height:100px">Hotel brisa Del Sur<p>
                Calle Principal a la Playa del Burro, Amapala, Zona Sur,Honduras.
              </p></a>
					</li>
					<li data-icon="carat-r">
						<a href="/Ho">
							<img src="http://media-cdn.tripadvisor.com/media/photo-s/02/4b/e6/43/hammocks-past-the-pool.jpg" class style="width:100px; height:100px">Casa de las gargolas<p>
              Barrio Nuevo, Paseo a Playa Grande; Amapala, Honduras.
              </p></a>
					</li>
					<li data-icon="carat-r">
						<a href="/Ho">
							<img src="http://media-cdn.tripadvisor.com/media/photo-s/02/b1/22/6a/filename-dsc01376-jpg.jpg" class style="width:100px; height:100px">Hotel Mirador</a>
					</li>
					<li data-icon="carat-r">
						<a href="/Ho">
							<img src="http://www.diariowebcentroamerica.com/wp-content/uploads/2012/12/Foto1081.jpg" class style="width:100px; height:100px">Hotel Playa Negra</a>
					</li>
				</ul>
			</div>
      <div data-role="footer" style="background:#246; color:#fff;text-shadow:none; size:12px font-size:05px position: fixed" data-theme data-fullscreen data-position="fixed">
        <a href="/Prin" data-icon="home" data-theme="b" class="ui-btn-active ui-state-persist">Inicio</a>
      </div>
		</div>
      <script src="javascript/.js"></script>
  </body>
</html>
