<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="stylesheets/estiloBusquedaHotel.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" ></script>
    <script language="javascript">

    Function Destino(){
        windows.location= "/Ama";
    }

    Function HomePage(){
      windows.location="/Home";
    }
    </script>
  </head>

  <body>

  <div data-role="page" data-theme="a" id="pagina1">
    <div data-role="header" style="background:#246; color:#fff ">
      <h1>Tourist Places</h1>
    </div>

     <div data-role="main" class="ui-content">
      <p style="text-align : center;font-weight:bold; font-family: sams serif; font-size: 20px; ">¿Estas en Honduras y no sabes a donde ir?</p>

      <div style="float:left; margin:15px; padding:25px">
        <a href="/Ama" target="blank" title="Copan Ruinas"><img is="dragable" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSUQKTn0tNU6PAAmvHgav3DaGaf2tgMH1aPzNLOrKY0vfe9UXbF" style="width: 200px; height: 150px; border-radius: 6px 6px 6px 6px; "><h3 style="top: -113px; text-decoration:none; text-align: center; margin-left: -100px; position: relative; color: black">Copan Ruinas</h3></a>
        <a href="/Ama" target="blank" title="San Pedro Sula"><img is="dragable" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5O51TFUKJ24eP1dT_KPj5sJi0vgHrapaFZwoCElDYsaYJtkROIQ" style="width: 200px; height: 150px; border-radius: 6px 6px 6px 6px; margin-top: -65px;" ><h3 style="top: -113px; text-decoration:none; text-align: center; margin-left: -100px; position: relative; color: black">San Pedro Sula</h3></a>
        <!-- <img is="dragable" src="recursos/Amapala.jpg" style="width: 200px; height: 150px; border-radius: 6px 6px 6px 6px;"> -->

        <div style="width:300px; 200px; float:left; padding-right: 5px;">
          <a href="/Ama" target="blank" title="La Ceiba" ><img is="dragable" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRMkoLkyuh7axI4Gjrl-HA3lP_2hxCMpVnwlEPCSGrYLPYXBwl-" style="width: 200px; height: 80px; padding-top: -175px; border-radius: 6px 6px 6px 6px; margin-top:-105px;" ><h3 style="top: -73px;  text-align: center; margin-left: -100px; position: relative; color: black">La Ceiba</h3></a>
          <a href="/Ama" target="blank" title="Tegucigalpa"><img is="dragable" style="width: 200px; height: 150px; border-radius: 6px 6px 6px 6px; margin-top: -65px;"src="http://www.calvin.edu/academic/spanish/class/images/album/hondur/large/tegucigalpa.jpg"><h3 style="top: -113px; text-decoration:none; text-align: center; margin-left: -100px; position: relative; color: black">Tegucigalpa</h3></a>
        </div>

        <a href="/Ama" target="blank" title="Amapala"><img is="dragable" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQLz5dodpfW2g69MPbFori2Uw2vgwyYakFiGcLRlQsX9dnB3YzR" style="width: 200px; height: 150px; border-radius: 6px 6px 6px 6px; margin-top:-65px;" ><h3 style="top: -113px; text-decoration:none; text-align: center; margin-left: -100px; position: relative; color: black">Amapala</h3></a>
        <a href="/Ama" target="blank" title="Roatan"><img is="dragable" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQvCdtPCTh29-dfqBGpOB5yrv6wfWlqKsyzj9YlczHtvC2_-Wuy3g" style="width: 200px; height: 150px; border-radius: 6px 6px 6px 6px;margin-top:-65px;"><h3 style="top: -113px; text-decoration:none; text-align: center; margin-left: -100px; position: relative; color: black">Roatan</h3></a>

      </div><br>

    </div>

    <div style="text-align: center">
        <a href="#pagina2" data-role="button" data-transition="flip">Cerrar Sesion</a>
    </div>

    <div data-role="footer" style="background:#246; color:#fff;text-shadow:none; size:12px font-size:05px" data-theme data-fullscreen data-position="fixed">
      <h3>Copyright UNICAH SF 2015</h3>
    </div>
  </div>

  <div data-role="page" data-theme="a" id="pagina2">

  	<div data-role="header">
  		<h1>Tourist Places</h1>
  	</div>

  		<a href="/Home" data-role="button" data-theme="b" >regresar</a>

  	</div>

  <div data-role="footer" style="background:#246; color:#fff;text-shadow:none; size:12px font-size:05px" data-theme data-fullscreen data-position="fixed">
    <h3>Copyright UNICAH SF 2015</h3>
  </div>
</div>
      <script src="javascript/principal.js"></script>
  </body>
</html>
