
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/estiloBusquedaHotel.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
		<div id="home" data-role="page" style="background:url(http://farm4.staticflickr.com/3507/4048953912_94357d14ca_o.jpg) -20px 0 fixed; background-size:125%">
			<div data-role="header" data-position="fixed" data-theme="a" style="background:#246; color:#fff">
				<h1>Amapala</h1>
			</div>
			<div role="main" class="ui-content">
				<ul data-role="listview" data-inset="true" data-filter="true" data-count-theme="b" data-filter-placeholder="Buscar">
					<li data-role="list-divider" style="background:#246; color:#fff">Restaurantes</li>
					<li data-icon="carat-r">
						<a href="#">
							<img src="http://mw2.google.com/mw-panoramio/photos/medium/56576703.jpg" class style="width:100px; height:100px; size:100%">Restaurante Terra Mar<p>Km 20, carretera a Coyolito</p>
</a>
					</li>
					<li data-icon="carat-r">
						<a href="#">
							<img src="http://du4zwgdg3nwxa.cloudfront.net/fotos/u/uh/uhckyheg-1329098840-bg.jpg" class style="width:100px; height:100px; size:100%">Restaurante Veleros Gualorita<p>
                Orilla de la Playa El Burro
              </p></a>
					</li>

				</ul>
			</div>
      <div data-role="footer" style="background:#246; color:#fff;text-shadow:none; size:12px font-size:05px position: fixed" data-theme data-fullscreen data-position="fixed">
        <a href="/Prin" data-icon="home" data-theme="b" class="ui-btn-active ui-state-persist">Inicio</a>
      </div>
		</div>
      <script src="javascript/Hoteles.js"></script>
  </body>
</html>
