<div id="home" data-role="page" style="background:url(http://farm4.staticflickr.com/3507/4048953912_94357d14ca_o.jpg) -20px 0 fixed; background-size:125%">
  <div data-role="header" data-position="fixed" data-theme="a" style="background:#246; color:#fff">
    <h1>Amapala</h1>
  </div>
  <div role="main" class="ui-content">
    <ul data-role="listview" data-inset="true" data-filter="true" data-count-theme="b" data-filter-placeholder="Buscar">
      <li data-role="list-divider" style="background:#246; color:#fff">Actividades</li>
      <li data-icon="star">
        <a href="#">
          <img src="http://jqmdesigner.appspot.com/images/image.png" class>playa negra</a>
      </li>
      <li data-icon="star">
        <a href="#">
          <img src="http://jqmdesigner.appspot.com/images/image.png" class>atardecer en playa negra</a>
      </li>
      <li data-icon="star">
        <a href="#">
          <img src="http://jqmdesigner.appspot.com/images/image.png" class>cerro el tigre, Amapala</a>
      </li>
    </ul>
  </div>
</div>
  <script src="javascript/Hoteles.js"></script>
